<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="Description" content="Enter your description here" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link rel="stylesheet" href="../static/css/main.css" />
    <title>Title</title>
  </head>
  <body>
    <div class="hero">
      <nav>
        <h2 class="logo">WWW</h2>
        <ul>
          <li><a href="{{ url_for('site.home') }}">Home</a></li>
          <li><a href="#">Wandlore</a></li>
          {% if current_user.is_authenticated %}
          <li><a href="{{ url_for('site.profile') }}">Profile</a></li>
          <li><a href="{{ url_for('auth.logout') }}">HLog Out</a></li>
          <li><a href="#">Sending an Owl</a></li>
        </ul>
        {% else %}
        <a href="{{ url_for('auth.signin') }}">
          <button type="button">Sign In!</button>
        </a>
        <a href="{{ url_for('auth.signup') }}">
          <button type="button">Sign Up!</button>
        </a>
        {% endif %}
      </nav>
    </div>

    {% block content %} {% endblock content %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
  </body>
</html>
