{% extends 'navbar.html' %} {% block content %}
  <section class="body">
    <div class="main">
      <img src="../../static/images/wand_battle.jpg" />
      <div class="text">
        <h1>Which Wand Wins</h1>
        <h5>Wands At The Ready!</h5>
        <p>
          The wizarding world is home to some of the most extraordinary wizards
          and witches that have walked the grounds. From Albus Percival
          Dumbeldore to Minerva McGonagall and to even, yes, Gildoroy Lockheart,
          each wizard and witch boast skills and talent unmatched by the other.
          But it is by the power of their wands that give them an extra
          advantage over time. As the famed wand-maker Olivander once said,
          "<span>The wand chooses the wizard"</span>. Let's see what wands then
          can really make the difference!
        </p>
      </div>
    </div>
  </section>
</section>
<!-- end of main section -->
<!-- start of footer -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>Company</h4>
                <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Location</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Help</h4>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Location</a></li>
                    <li><a href="#">Email Alert</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Contact Us</h4>
                <ul>
                    <li><a href="#">Email Address</a></li>
                    <li><a href="#">Phone Number</a></li>
                    <li><a href="#">Mailing Address</a></li>
                    <li><a href="#">Fax</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Follow Us</h4>
                <div class="social_links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>

{% endblock content %}
